.content {
  display: flex;
  flex-direction: row;
  flex-basis: 60%;
  align-items: stretch;
  height: 100%;
  flex-grow: 1;
  .item-text {
    width: 584px;
    height: 196px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
  }
  .items {
    height: 100%;
    display: flex;
    flex-basis: 50%;
    border-left: 3px solid #f9f9f9;
    flex-direction: column;
  }
  .items-hide {
    display: none;
    //display: flex;
  }
  .container-content {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;

    align-items: center;

    .main-title {
      font-family: "Inter";
      font-style: normal;
      font-size: 72px;
      margin: 0%;
      line-height: 52px;
      color: #202020;
    }
    .second-title {
      width: 501px;
      height: 52px;

      font-family: "Inter";
      font-style: normal;
      font-weight: 500;
      font-size: 34px;
      line-height: 52px;
      color: #aaaaaa;
    }
    .img-content {
      width: 584px;
      height: 422px;
      left: 72px;
      top: 244px;
      border-radius: 10px;
    }
  }
  .full-post {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
    img {
      margin-left: 200px;
      height: 452px;
    }
    h1 {
      font-family: "Inter";
      font-style: normal;
      font-size: 60px;
      margin: 0%;
      line-height: 52px;
      color: #202020;
    }
    h3 {
      height: 52px;

      font-family: "Inter";
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      color: #aaaaaa;
    }
    span {
      width: 584px;

      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
    }
    .frm-send {
      display: flex;
      flex-direction: column;
    }
    .btn-send {
      align-items: center;
      padding: 9px 30px;
      gap: 21px;
      background: #ffdf36;
      border-radius: 12px;
      max-width: 130px;
      max-height: 45px;
      margin-left: auto;
      margin-right: 5px;
      margin-bottom: 20px;
    }
  }
}

.create-post {
  display: flex;
  flex-direction: column;
  .title {
    textarea {
      width: 500px;
    }
  }
  .img {
    display: flex;
    flex-direction: row;
    input {
      width: 340px;
      height: 30px;
    }
    button {
      margin-left: 10px;
    }
  }
}
