.nav-bar {
  background: #13315e;

  .menu {
    width: 100px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .nav-text {
      padding-left: 40%;
      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      font-size: 17px;
      line-height: 24px;
      letter-spacing: 0.12em;
      color: #ffffff;
      transform: rotate(-90deg);
    }
    .menu-btn {
      height: 8%;
      color: #ffffff;
    }
  }
}
