.nav-bar-inactive {
  background: #13315e;
  margin-left: auto;

  width: 100px;
  transform-origin: left center;
  .menu {
    margin-top: auto;

    bottom: 0;

    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .nav-bottom {
      padding-left: 40%;
      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      font-size: 17px;
      line-height: 24px;
      letter-spacing: 0.12em;
      color: #ffffff;
      h3 {
        transform: rotate(-90deg);
      }
    }
    .menu-btn {
      height: 8%;
      color: #ffffff;
    }
  }
}
.nav-bar-active {
  background: #13315e;
  width: 350px;
  display: flex;
  margin-left: auto;
  .menu {
    display: flex;
    flex-direction: column;
    align-content: center;
    .container {
      position: fixed;
      display: flex;
      color: #ffffff;
      flex-direction: column;
      h2 {
        padding-left: 10%;
      }
      .nav-body {
        display: flex;
        flex-direction: column;

        .nav-item {
          a {
            text-decoration: none;
            color: inherit;
          }
          min-width: 400px;
          min-height: 78px;
          h3 {
            padding-left: 10%;
            cursor: pointer;
          }
        }
      }
    }
    .nav-bottom {
      margin-top: auto;
      bottom: 0;
      position: fixed;
      display: flex;
      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      font-size: 17px;
      line-height: 24px;
      letter-spacing: 0.12em;
      color: #ffffff;
      h3 {
        order: 1;
      }
    }
    .menu-btn {
      color: #ffffff;
    }
  }
}
