.item-card {
  width: 550px;
  height: 175px;
  .item {
    padding: 15px;

    border-bottom: 3px solid #f9f9f9;
    a {
      text-decoration: none;
      color: inherit;
    }
    h1 {
      font-size: 24px;
    }
    span {
      color: rgba(137, 140, 144, 1);
    }
  }
}
